In [2]:
# Import dependencies
import pandas as pd
import numpy as np
from google.colab import files
import io

In [3]:
# Upload csv file
uploaded = files.upload()

Saving BankChurners.csv to BankChurners.csv

In [48]:
# Create DataFrame from csv file
df = pd.read_csv(io.BytesIO(uploaded['BankChurners.csv']))
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [5]:
# Drop the last two columns of the DataFrame
df = df.drop(columns=["Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2", 
                      "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1"])

In [6]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [7]:
# See the number of rows and columns of the DataFrame
df.shape

(10127, 21)

In [9]:
# See column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

In [10]:
# Check if there are any missing values in our dataset or not
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [8]:
# See a quick summary of the dataset
df.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000

In [11]:
# Check unique values in all columns
Attrition_Flag = df["Attrition_Flag"].unique()
Attrition_Flag

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [12]:
Customer_Age = df["Customer_Age"].unique()
Customer_Age.sort()
Customer_Age

array([26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59,
       60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73])

In [13]:
Gender = df["Gender"].unique()
Gender

array(['M', 'F'], dtype=object)

In [14]:
Dependent_count = df["Dependent_count"].unique()
Dependent_count.sort()
Dependent_count

array([0, 1, 2, 3, 4, 5])

In [ ]:
Education_Level = df["Education_Level"].unique()
Education_Level

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [ ]:
Marital_Status = df["Marital_Status"].unique()
Marital_Status

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

In [ ]:
Income_Category = df["Income_Category"].unique()
Income_Category

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [46]:
Card_Category = df["Card_Category"].unique()
Card_Category

array(['Blue', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [49]:
Months_on_book = df["Months_on_book"].unique()
Months_on_book.sort()
Months_on_book

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
       30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 50, 51, 52, 53, 54, 55, 56])

In [16]:
Total_Relationship_Count = df["Total_Relationship_Count"].unique()
Total_Relationship_Count.sort()
Total_Relationship_Count

array([1, 2, 3, 4, 5, 6])

In [18]:
Months_Inactive_12_mon = df["Months_Inactive_12_mon"].unique()
Months_Inactive_12_mon.sort()
Months_Inactive_12_mon

array([0, 1, 2, 3, 4, 5, 6])

In [20]:
Contacts_Count_12_mon = df["Contacts_Count_12_mon"].unique()
Contacts_Count_12_mon.sort()
Contacts_Count_12_mon

array([0, 1, 2, 3, 4, 5, 6])

In [30]:
Credit_Limit = df["Credit_Limit"].unique()
Credit_Limit.sort()
print(Credit_Limit.size)

6205

In [33]:
Total_Revolving_Bal = df["Total_Revolving_Bal"].unique()
print(Total_Revolving_Bal.size)

1974

In [35]:
Avg_Open_To_Buy = df["Avg_Open_To_Buy"].unique()
print(Avg_Open_To_Buy.size)

6813

In [38]:
Total_Amt_Chng_Q4_Q1 = df["Total_Amt_Chng_Q4_Q1"].unique()
print(Total_Amt_Chng_Q4_Q1.size)

1158

In [40]:
Total_Trans_Amt = df["Total_Trans_Amt"].unique()
print(Total_Trans_Amt.size)

5033

In [42]:
Total_Trans_Ct = df["Total_Trans_Ct"].unique()
Total_Trans_Ct.sort()
Total_Trans_Ct

array([ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
        23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
        36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
        49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
        62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
        75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,
        88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100,
       101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113,
       114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126,
       127, 128, 129, 130, 131, 132, 134, 138, 139])

In [44]:
Total_Ct_Chng_Q4_Q1 = df["Total_Ct_Chng_Q4_Q1"].unique()
Total_Ct_Chng_Q4_Q1.sort()
Total_Ct_Chng_Q4_Q1

array([0.   , 0.028, 0.029, 0.038, 0.053, 0.059, 0.062, 0.074, 0.077,
       0.091, 0.097, 0.103, 0.105, 0.107, 0.111, 0.119, 0.125, 0.13 ,
       0.133, 0.143, 0.147, 0.15 , 0.154, 0.161, 0.162, 0.167, 0.171,
       0.172, 0.174, 0.176, 0.179, 0.182, 0.185, 0.188, 0.189, 0.19 ,
       0.192, 0.194, 0.2  , 0.206, 0.207, 0.208, 0.211, 0.212, 0.214,
       0.217, 0.222, 0.226, 0.227, 0.231, 0.233, 0.235, 0.238, 0.24 ,
       0.241, 0.242, 0.244, 0.25 , 0.256, 0.257, 0.259, 0.261, 0.262,
       0.263, 0.265, 0.267, 0.269, 0.273, 0.275, 0.276, 0.278, 0.28 ,
       0.281, 0.282, 0.286, 0.29 , 0.292, 0.293, 0.294, 0.295, 0.296,
       0.297, 0.3  , 0.303, 0.304, 0.306, 0.308, 0.31 , 0.312, 0.314,
       0.316, 0.317, 0.318, 0.32 , 0.321, 0.323, 0.324, 0.327, 0.333,
       0.341, 0.343, 0.344, 0.345, 0.346, 0.347, 0.348, 0.349, 0.35 ,
       0.351, 0.353, 0.355, 0.357, 0.359, 0.36 , 0.361, 0.362, 0.364,
       0.367, 0.368, 0.37 , 0.371, 0.372, 0.375, 0.378, 0.379, 0.381,
       0.382, 0.385, 0.387, 0.388, 0.389, 0.391, 0.393, 0.394, 0.395,
       0.396, 0.4  , 0.405, 0.406, 0.407, 0.408, 0.409, 0.41 , 0.411,
       0.412, 0.414, 0.415, 0.417, 0.419, 0.421, 0.422, 0.423, 0.424,
       0.425, 0.426, 0.429, 0.431, 0.432, 0.433, 0.434, 0.435, 0.436,
       0.438, 0.439, 0.44 , 0.441, 0.442, 0.444, 0.447, 0.448, 0.449,
       0.45 , 0.451, 0.452, 0.453, 0.455, 0.456, 0.457, 0.458, 0.459,
       0.46 , 0.462, 0.463, 0.464, 0.465, 0.467, 0.468, 0.469, 0.471,
       0.472, 0.473, 0.474, 0.475, 0.476, 0.477, 0.478, 0.479, 0.48 ,
       0.481, 0.483, 0.484, 0.485, 0.486, 0.487, 0.488, 0.489, 0.49 ,
       0.491, 0.492, 0.5  , 0.508, 0.509, 0.51 , 0.511, 0.512, 0.513,
       0.514, 0.515, 0.516, 0.517, 0.518, 0.519, 0.52 , 0.521, 0.522,
       0.523, 0.524, 0.525, 0.526, 0.527, 0.528, 0.529, 0.531, 0.532,
       0.533, 0.534, 0.535, 0.536, 0.537, 0.538, 0.54 , 0.541, 0.542,
       0.543, 0.544, 0.545, 0.547, 0.548, 0.549, 0.55 , 0.551, 0.552,
       0.553, 0.554, 0.556, 0.557, 0.558, 0.559, 0.56 , 0.561, 0.562,
       0.564, 0.565, 0.566, 0.567, 0.568, 0.569, 0.571, 0.573, 0.574,
       0.575, 0.576, 0.577, 0.578, 0.579, 0.58 , 0.581, 0.582, 0.583,
       0.585, 0.586, 0.587, 0.588, 0.589, 0.59 , 0.591, 0.592, 0.593,
       0.594, 0.595, 0.596, 0.597, 0.6  , 0.603, 0.604, 0.605, 0.606,
       0.607, 0.608, 0.609, 0.61 , 0.611, 0.612, 0.613, 0.614, 0.615,
       0.616, 0.617, 0.618, 0.619, 0.62 , 0.621, 0.622, 0.623, 0.625,
       0.627, 0.628, 0.629, 0.63 , 0.631, 0.632, 0.633, 0.634, 0.635,
       0.636, 0.638, 0.639, 0.64 , 0.641, 0.642, 0.643, 0.644, 0.645,
       0.646, 0.647, 0.648, 0.649, 0.65 , 0.651, 0.652, 0.653, 0.654,
       0.655, 0.656, 0.657, 0.658, 0.659, 0.66 , 0.661, 0.662, 0.667,
       0.671, 0.672, 0.673, 0.674, 0.675, 0.676, 0.677, 0.678, 0.679,
       0.68 , 0.681, 0.682, 0.683, 0.684, 0.685, 0.686, 0.687, 0.688,
       0.689, 0.69 , 0.691, 0.692, 0.693, 0.694, 0.695, 0.696, 0.697,
       0.698, 0.699, 0.7  , 0.702, 0.703, 0.704, 0.705, 0.706, 0.707,
       0.708, 0.709, 0.71 , 0.711, 0.712, 0.714, 0.716, 0.717, 0.718,
       0.719, 0.72 , 0.721, 0.722, 0.723, 0.724, 0.725, 0.726, 0.727,
       0.729, 0.73 , 0.731, 0.732, 0.733, 0.734, 0.735, 0.736, 0.737,
       0.738, 0.739, 0.74 , 0.741, 0.742, 0.743, 0.744, 0.745, 0.746,
       0.75 , 0.753, 0.754, 0.755, 0.756, 0.757, 0.758, 0.759, 0.76 ,
       0.761, 0.762, 0.763, 0.764, 0.765, 0.766, 0.767, 0.768, 0.769,
       0.77 , 0.771, 0.772, 0.773, 0.774, 0.775, 0.776, 0.778, 0.779,
       0.78 , 0.781, 0.782, 0.783, 0.784, 0.785, 0.786, 0.787, 0.788,
       0.789, 0.79 , 0.791, 0.792, 0.793, 0.794, 0.795, 0.796, 0.797,
       0.8  , 0.803, 0.804, 0.805, 0.806, 0.807, 0.808, 0.809, 0.81 ,
       0.811, 0.812, 0.814, 0.815, 0.816, 0.817, 0.818, 0.819, 0.82 ,
       0.821, 0.822, 0.823, 0.824, 0.825, 0.826, 0.827, 0.828, 0.829,
       0.83 , 0.831, 0.833, 0.836, 0.837, 0.838, 0.839, 0.84 , 0.841,
       0.842, 0.843, 0.844, 0.846, 0.847, 0.848, 0.849, 0.85 , 0.851,
       0.852, 0.853, 0.854, 0.855, 0.857, 0.859, 0.86 , 0.861, 0.862,
       0.863, 0.864, 0.865, 0.866, 0.867, 0.868, 0.869, 0.87 , 0.871,
       0.872, 0.873, 0.875, 0.878, 0.879, 0.88 , 0.881, 0.882, 0.884,
       0.885, 0.886, 0.887, 0.889, 0.891, 0.892, 0.893, 0.894, 0.895,
       0.896, 0.897, 0.898, 0.9  , 0.902, 0.903, 0.905, 0.906, 0.907,
       0.909, 0.911, 0.912, 0.913, 0.914, 0.915, 0.917, 0.918, 0.919,
       0.92 , 0.921, 0.922, 0.923, 0.925, 0.926, 0.927, 0.929, 0.93 ,
       0.931, 0.932, 0.933, 0.934, 0.935, 0.936, 0.938, 0.939, 0.941,
       0.943, 0.944, 0.946, 0.947, 0.948, 0.949, 0.95 , 0.951, 0.952,
       0.953, 0.955, 0.956, 0.957, 0.958, 0.96 , 0.962, 0.963, 0.964,
       0.966, 0.967, 0.968, 0.969, 0.97 , 0.971, 0.972, 0.973, 0.974,
       0.975, 0.976, 0.977, 0.978, 0.98 , 0.981, 1.   , 1.018, 1.022,
       1.023, 1.024, 1.025, 1.026, 1.027, 1.028, 1.029, 1.03 , 1.031,
       1.032, 1.033, 1.034, 1.036, 1.037, 1.038, 1.04 , 1.042, 1.043,
       1.045, 1.048, 1.049, 1.05 , 1.051, 1.053, 1.054, 1.056, 1.057,
       1.059, 1.06 , 1.061, 1.062, 1.064, 1.065, 1.067, 1.069, 1.071,
       1.073, 1.074, 1.075, 1.077, 1.079, 1.08 , 1.081, 1.083, 1.086,
       1.087, 1.088, 1.091, 1.093, 1.094, 1.095, 1.097, 1.1  , 1.103,
       1.105, 1.107, 1.108, 1.111, 1.114, 1.115, 1.118, 1.12 , 1.121,
       1.122, 1.125, 1.128, 1.13 , 1.133, 1.135, 1.136, 1.138, 1.139,
       1.143, 1.147, 1.148, 1.15 , 1.152, 1.154, 1.156, 1.158, 1.16 ,
       1.161, 1.162, 1.167, 1.171, 1.172, 1.174, 1.176, 1.179, 1.182,
       1.188, 1.189, 1.194, 1.2  , 1.206, 1.207, 1.208, 1.211, 1.212,
       1.214, 1.217, 1.219, 1.222, 1.226, 1.227, 1.229, 1.231, 1.235,
       1.24 , 1.25 , 1.258, 1.263, 1.273, 1.278, 1.286, 1.29 , 1.292,
       1.294, 1.3  , 1.303, 1.308, 1.31 , 1.312, 1.316, 1.318, 1.32 ,
       1.321, 1.323, 1.333, 1.346, 1.35 , 1.357, 1.36 , 1.364, 1.367,
       1.37 , 1.375, 1.381, 1.382, 1.385, 1.391, 1.4  , 1.412, 1.417,
       1.419, 1.421, 1.429, 1.438, 1.444, 1.45 , 1.455, 1.458, 1.462,
       1.467, 1.471, 1.474, 1.476, 1.478, 1.48 , 1.5  , 1.522, 1.533,
       1.538, 1.545, 1.571, 1.579, 1.583, 1.6  , 1.609, 1.615, 1.625,
       1.636, 1.647, 1.65 , 1.667, 1.684, 1.7  , 1.722, 1.75 , 1.778,
       1.783, 1.8  , 1.833, 1.857, 1.875, 1.882, 1.909, 1.923, 2.   ,
       2.083, 2.1  , 2.167, 2.182, 2.2  , 2.222, 2.273, 2.286, 2.333,
       2.4  , 2.429, 2.5  , 2.571, 2.75 , 2.875, 3.   , 3.25 , 3.5  ,
       3.571, 3.714])

In [46]:
Avg_Utilization_Ratio = df["Avg_Utilization_Ratio"].unique()
Avg_Utilization_Ratio.sort()
Avg_Utilization_Ratio

array([0.   , 0.004, 0.005, 0.006, 0.007, 0.008, 0.009, 0.01 , 0.011,
       0.012, 0.013, 0.014, 0.015, 0.016, 0.017, 0.018, 0.019, 0.02 ,
       0.021, 0.022, 0.023, 0.024, 0.025, 0.026, 0.027, 0.028, 0.029,
       0.03 , 0.031, 0.032, 0.033, 0.034, 0.035, 0.036, 0.037, 0.038,
       0.039, 0.04 , 0.041, 0.042, 0.043, 0.044, 0.045, 0.046, 0.047,
       0.048, 0.049, 0.05 , 0.051, 0.052, 0.053, 0.054, 0.055, 0.056,
       0.057, 0.058, 0.059, 0.06 , 0.061, 0.062, 0.063, 0.064, 0.065,
       0.066, 0.067, 0.068, 0.069, 0.07 , 0.071, 0.072, 0.073, 0.074,
       0.075, 0.076, 0.077, 0.078, 0.079, 0.08 , 0.081, 0.082, 0.083,
       0.084, 0.085, 0.086, 0.087, 0.088, 0.089, 0.09 , 0.091, 0.092,
       0.093, 0.094, 0.095, 0.096, 0.097, 0.098, 0.099, 0.1  , 0.101,
       0.102, 0.103, 0.104, 0.105, 0.106, 0.107, 0.108, 0.109, 0.11 ,
       0.111, 0.112, 0.113, 0.114, 0.115, 0.116, 0.117, 0.118, 0.119,
       0.12 , 0.121, 0.122, 0.123, 0.124, 0.125, 0.126, 0.127, 0.128,
       0.129, 0.13 , 0.131, 0.132, 0.133, 0.134, 0.135, 0.136, 0.137,
       0.138, 0.139, 0.14 , 0.141, 0.142, 0.143, 0.144, 0.145, 0.146,
       0.147, 0.148, 0.149, 0.15 , 0.151, 0.152, 0.153, 0.154, 0.155,
       0.156, 0.157, 0.158, 0.159, 0.16 , 0.161, 0.162, 0.163, 0.164,
       0.165, 0.166, 0.167, 0.168, 0.169, 0.17 , 0.171, 0.172, 0.173,
       0.174, 0.175, 0.176, 0.177, 0.178, 0.179, 0.18 , 0.181, 0.182,
       0.183, 0.184, 0.185, 0.186, 0.187, 0.188, 0.189, 0.19 , 0.191,
       0.192, 0.193, 0.194, 0.195, 0.196, 0.197, 0.198, 0.199, 0.2  ,
       0.201, 0.202, 0.203, 0.204, 0.205, 0.206, 0.207, 0.208, 0.209,
       0.21 , 0.211, 0.212, 0.213, 0.214, 0.215, 0.216, 0.217, 0.218,
       0.219, 0.22 , 0.221, 0.222, 0.223, 0.224, 0.225, 0.226, 0.227,
       0.228, 0.229, 0.23 , 0.231, 0.232, 0.233, 0.234, 0.235, 0.236,
       0.237, 0.238, 0.239, 0.24 , 0.241, 0.242, 0.243, 0.244, 0.245,
       0.246, 0.247, 0.248, 0.249, 0.25 , 0.251, 0.252, 0.253, 0.254,
       0.255, 0.256, 0.257, 0.258, 0.259, 0.26 , 0.261, 0.262, 0.263,
       0.264, 0.265, 0.266, 0.267, 0.268, 0.269, 0.27 , 0.271, 0.272,
       0.273, 0.274, 0.275, 0.276, 0.277, 0.278, 0.279, 0.28 , 0.281,
       0.282, 0.283, 0.284, 0.285, 0.286, 0.287, 0.288, 0.289, 0.29 ,
       0.291, 0.292, 0.293, 0.294, 0.295, 0.296, 0.297, 0.298, 0.299,
       0.3  , 0.301, 0.302, 0.303, 0.304, 0.305, 0.306, 0.307, 0.308,
       0.309, 0.31 , 0.311, 0.312, 0.313, 0.314, 0.315, 0.316, 0.317,
       0.318, 0.319, 0.32 , 0.321, 0.322, 0.323, 0.324, 0.325, 0.326,
       0.327, 0.328, 0.329, 0.33 , 0.331, 0.332, 0.333, 0.334, 0.335,
       0.336, 0.337, 0.338, 0.339, 0.34 , 0.341, 0.342, 0.343, 0.344,
       0.345, 0.346, 0.347, 0.348, 0.349, 0.35 , 0.351, 0.352, 0.353,
       0.354, 0.355, 0.356, 0.357, 0.358, 0.359, 0.36 , 0.361, 0.362,
       0.363, 0.364, 0.365, 0.366, 0.367, 0.368, 0.369, 0.37 , 0.371,
       0.372, 0.373, 0.374, 0.375, 0.376, 0.377, 0.378, 0.379, 0.38 ,
       0.381, 0.382, 0.383, 0.384, 0.385, 0.386, 0.387, 0.388, 0.389,
       0.39 , 0.391, 0.392, 0.393, 0.394, 0.395, 0.396, 0.397, 0.398,
       0.399, 0.4  , 0.401, 0.402, 0.403, 0.404, 0.405, 0.406, 0.407,
       0.408, 0.409, 0.41 , 0.411, 0.412, 0.413, 0.414, 0.415, 0.416,
       0.417, 0.418, 0.419, 0.42 , 0.421, 0.422, 0.423, 0.424, 0.425,
       0.426, 0.427, 0.428, 0.429, 0.43 , 0.431, 0.432, 0.433, 0.434,
       0.435, 0.436, 0.437, 0.438, 0.439, 0.44 , 0.441, 0.442, 0.443,
       0.444, 0.445, 0.446, 0.447, 0.448, 0.449, 0.45 , 0.451, 0.452,
       0.453, 0.454, 0.455, 0.456, 0.457, 0.458, 0.459, 0.46 , 0.461,
       0.462, 0.463, 0.464, 0.465, 0.466, 0.467, 0.468, 0.469, 0.47 ,
       0.471, 0.472, 0.473, 0.474, 0.475, 0.476, 0.477, 0.478, 0.479,
       0.48 , 0.481, 0.482, 0.483, 0.484, 0.485, 0.486, 0.487, 0.488,
       0.489, 0.49 , 0.491, 0.492, 0.493, 0.494, 0.495, 0.496, 0.497,
       0.498, 0.499, 0.5  , 0.501, 0.502, 0.503, 0.504, 0.505, 0.506,
       0.507, 0.508, 0.509, 0.51 , 0.511, 0.512, 0.513, 0.514, 0.515,
       0.516, 0.517, 0.518, 0.519, 0.52 , 0.521, 0.522, 0.523, 0.524,
       0.525, 0.526, 0.527, 0.528, 0.529, 0.53 , 0.531, 0.532, 0.533,
       0.534, 0.535, 0.536, 0.537, 0.538, 0.539, 0.54 , 0.541, 0.542,
       0.543, 0.544, 0.545, 0.546, 0.547, 0.548, 0.549, 0.55 , 0.551,
       0.552, 0.553, 0.554, 0.555, 0.556, 0.557, 0.558, 0.559, 0.56 ,
       0.561, 0.562, 0.563, 0.564, 0.565, 0.566, 0.567, 0.568, 0.569,
       0.57 , 0.571, 0.572, 0.573, 0.574, 0.575, 0.576, 0.577, 0.578,
       0.579, 0.58 , 0.581, 0.582, 0.583, 0.584, 0.585, 0.586, 0.587,
       0.588, 0.589, 0.59 , 0.591, 0.592, 0.593, 0.594, 0.595, 0.596,
       0.597, 0.598, 0.599, 0.6  , 0.601, 0.602, 0.603, 0.604, 0.605,
       0.606, 0.607, 0.608, 0.609, 0.61 , 0.611, 0.612, 0.613, 0.614,
       0.615, 0.616, 0.617, 0.618, 0.619, 0.62 , 0.621, 0.622, 0.623,
       0.624, 0.625, 0.626, 0.627, 0.628, 0.629, 0.63 , 0.631, 0.632,
       0.633, 0.634, 0.635, 0.636, 0.637, 0.638, 0.639, 0.64 , 0.641,
       0.642, 0.643, 0.644, 0.645, 0.646, 0.647, 0.648, 0.649, 0.65 ,
       0.651, 0.652, 0.653, 0.654, 0.655, 0.656, 0.657, 0.658, 0.659,
       0.66 , 0.661, 0.662, 0.663, 0.664, 0.665, 0.666, 0.667, 0.668,
       0.669, 0.67 , 0.671, 0.672, 0.673, 0.674, 0.675, 0.676, 0.677,
       0.678, 0.679, 0.68 , 0.681, 0.682, 0.683, 0.684, 0.685, 0.686,
       0.687, 0.688, 0.689, 0.69 , 0.691, 0.692, 0.693, 0.694, 0.695,
       0.696, 0.697, 0.698, 0.699, 0.7  , 0.701, 0.702, 0.703, 0.704,
       0.705, 0.706, 0.707, 0.708, 0.709, 0.71 , 0.711, 0.712, 0.713,
       0.714, 0.715, 0.716, 0.717, 0.718, 0.719, 0.72 , 0.721, 0.722,
       0.723, 0.724, 0.725, 0.726, 0.727, 0.728, 0.729, 0.73 , 0.731,
       0.732, 0.733, 0.734, 0.735, 0.736, 0.737, 0.738, 0.739, 0.74 ,
       0.741, 0.742, 0.743, 0.744, 0.745, 0.746, 0.747, 0.748, 0.749,
       0.75 , 0.751, 0.752, 0.753, 0.754, 0.755, 0.756, 0.757, 0.758,
       0.759, 0.76 , 0.761, 0.762, 0.763, 0.764, 0.765, 0.766, 0.767,
       0.768, 0.769, 0.77 , 0.771, 0.772, 0.773, 0.774, 0.775, 0.776,
       0.777, 0.778, 0.779, 0.78 , 0.781, 0.782, 0.783, 0.784, 0.785,
       0.786, 0.787, 0.788, 0.789, 0.79 , 0.791, 0.792, 0.793, 0.794,
       0.795, 0.796, 0.797, 0.798, 0.799, 0.8  , 0.801, 0.802, 0.803,
       0.804, 0.805, 0.806, 0.807, 0.808, 0.809, 0.81 , 0.811, 0.812,
       0.813, 0.814, 0.815, 0.816, 0.817, 0.818, 0.819, 0.82 , 0.821,
       0.822, 0.823, 0.824, 0.825, 0.826, 0.827, 0.828, 0.829, 0.83 ,
       0.831, 0.832, 0.833, 0.834, 0.835, 0.836, 0.837, 0.839, 0.84 ,
       0.841, 0.842, 0.843, 0.844, 0.845, 0.846, 0.847, 0.848, 0.849,
       0.85 , 0.851, 0.852, 0.853, 0.854, 0.855, 0.856, 0.857, 0.858,
       0.859, 0.86 , 0.861, 0.862, 0.863, 0.864, 0.865, 0.866, 0.867,
       0.868, 0.869, 0.87 , 0.871, 0.872, 0.873, 0.874, 0.875, 0.876,
       0.877, 0.878, 0.879, 0.88 , 0.881, 0.882, 0.883, 0.884, 0.885,
       0.886, 0.887, 0.889, 0.891, 0.893, 0.894, 0.895, 0.896, 0.897,
       0.898, 0.899, 0.9  , 0.901, 0.902, 0.903, 0.904, 0.905, 0.906,
       0.907, 0.909, 0.91 , 0.911, 0.912, 0.913, 0.914, 0.915, 0.916,
       0.917, 0.918, 0.919, 0.92 , 0.921, 0.922, 0.924, 0.925, 0.926,
       0.927, 0.928, 0.929, 0.93 , 0.931, 0.932, 0.934, 0.935, 0.938,
       0.94 , 0.941, 0.942, 0.943, 0.944, 0.945, 0.948, 0.949, 0.951,
       0.952, 0.953, 0.954, 0.955, 0.956, 0.958, 0.959, 0.96 , 0.962,
       0.963, 0.964, 0.968, 0.971, 0.972, 0.973, 0.976, 0.977, 0.978,
       0.983, 0.984, 0.985, 0.987, 0.988, 0.99 , 0.992, 0.994, 0.995,
       0.999])

In [53]:
# Export cleaned DataFrame to csv to create a database
df.to_csv('BankChurners.csv', index=None) 
files.download('BankChurners.csv')