# Supervised machine learning process:

## Import dependencies

First import of libraries that will help with wrangling and to visualize data.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

## Preprocessing 

Taking a second look at the data after the cleaning process, to identify the features and outcomes of the machine learning model.

In [3]:
# Load the data and display first rows 

path = '../all_data.csv'

df = pd.read_csv(path)

df.head(5)

,clientnum,attrition_flag,customer_age,gender,dependent_count,education_level,marital_status,income_category,card_category,months_on_book,...,credit_limit,total_revolving_bal,avg_open_to_buy,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio,Weekly_median_earnings,Yearly_median_earnings
0,768805383,Existing Customer ...,45,M ...,3,High School ...,Married ...,$60K - $80K ...,Blue ...,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,809.0,42068.0
1,818770008,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,963.0,50076.0
2,818770008,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1334.0,69368.0
3,818770008,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1924.0,100048.0
4,713982108,Existing Customer ...,51,M ...,3,Graduate ...,Married ...,$80K - $120K ...,Blue ...,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,963.0,50076.0

In [10]:
# Drop the unique values that won't serve to the model and display first rows 

df = df.drop(columns=['clientnum'], axis =1)

df.head(5)

,attrition_flag,customer_age,gender,dependent_count,education_level,marital_status,income_category,card_category,months_on_book,total_relationship_count,...,credit_limit,total_revolving_bal,avg_open_to_buy,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio,Weekly_median_earnings,Yearly_median_earnings
0,Existing Customer ...,45,M ...,3,High School ...,Married ...,$60K - $80K ...,Blue ...,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,809.0,42068.0
1,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,963.0,50076.0
2,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1334.0,69368.0
3,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1924.0,100048.0
4,Existing Customer ...,51,M ...,3,Graduate ...,Married ...,$80K - $120K ...,Blue ...,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,963.0,50076.0