# Supervised machine learning process:

## Import dependencies

First import of libraries that will help with wrangling and to visualize data.

In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

## Preprocessing 

Taking a second look at the data after the cleaning process, to identify the features and outcomes of the machine learning model.

In [17]:
# Load the data and display first rows 

path = '../all_data.csv'

df = pd.read_csv(path)

df.head(5)

,clientnum,attrition_flag,customer_age,gender,dependent_count,education_level,marital_status,income_category,card_category,months_on_book,...,credit_limit,total_revolving_bal,avg_open_to_buy,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio,Weekly_median_earnings,Yearly_median_earnings
0,768805383,Existing Customer ...,45,M ...,3,High School ...,Married ...,$60K - $80K ...,Blue ...,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,809.0,42068.0
1,818770008,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,963.0,50076.0
2,818770008,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1334.0,69368.0
3,818770008,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1924.0,100048.0
4,713982108,Existing Customer ...,51,M ...,3,Graduate ...,Married ...,$80K - $120K ...,Blue ...,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,963.0,50076.0

In [10]:
# Drop the unique values that won't serve to the model and display first rows 

df = df.drop(columns=['clientnum'], axis =1)

df.head(5)

,attrition_flag,customer_age,gender,dependent_count,education_level,marital_status,income_category,card_category,months_on_book,total_relationship_count,...,credit_limit,total_revolving_bal,avg_open_to_buy,total_amt_chng_q4_q1,total_trans_amt,total_trans_ct,total_ct_chng_q4_q1,avg_utilization_ratio,Weekly_median_earnings,Yearly_median_earnings
0,Existing Customer ...,45,M ...,3,High School ...,Married ...,$60K - $80K ...,Blue ...,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,809.0,42068.0
1,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,963.0,50076.0
2,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1334.0,69368.0
3,Existing Customer ...,49,F ...,5,Graduate ...,Single ...,Less than $40K ...,Blue ...,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,1924.0,100048.0
4,Existing Customer ...,51,M ...,3,Graduate ...,Married ...,$80K - $120K ...,Blue ...,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,963.0,50076.0

### Identify and separate dependent and independent variables

In [21]:
# Identifying categorical and non-categorical variables 

categorical = ['gender','education_level', 'marital_status', 'income_category', 'card_category']

non_categorical = ['customer_age', 'dependent_count',
       'months_on_book', 'total_relationship_count', 'months_inactive_12_mon',
       'contacts_count_12_mon', 'credit_limit', 'total_revolving_bal',
       'avg_open_to_buy', 'total_amt_chng_q4_q1', 'total_trans_amt',
       'total_trans_ct', 'total_ct_chng_q4_q1', 'avg_utilization_ratio',
       'Weekly_median_earnings', 'Yearly_median_earnings']

In [28]:
# Separating dependent and independent variables 

y = df[['attrition_flag']]

X = df[['customer_age', 'gender', 'dependent_count',
       'education_level', 'marital_status', 'income_category', 'card_category',
       'months_on_book', 'total_relationship_count', 'months_inactive_12_mon',
       'contacts_count_12_mon', 'credit_limit', 'total_revolving_bal',
       'avg_open_to_buy', 'total_amt_chng_q4_q1', 'total_trans_amt',
       'total_trans_ct', 'total_ct_chng_q4_q1', 'avg_utilization_ratio',
       'Weekly_median_earnings', 'Yearly_median_earnings']]

In [29]:
# Encode categorical features (object types) as a one-hot numeric array 

# Get dummies 

X = pd.get_dummies(data =X, columns=categorical)

X.head()

,customer_age,dependent_count,months_on_book,total_relationship_count,months_inactive_12_mon,contacts_count_12_mon,credit_limit,total_revolving_bal,avg_open_to_buy,total_amt_chng_q4_q1,...,income_category_$120K +,income_category_$40K - $60K,income_category_$60K - $80K,income_category_$80K - $120K,income_category_Less than $40K,income_category_Unknown,card_category_Blue,card_category_Gold,card_category_Platinum,card_category_Silver
0,45,3,39,5,1,3,12691.0,777,11914.0,1.335,...,0,0,1,0,0,0,1,0,0,0
1,49,5,44,6,1,2,8256.0,864,7392.0,1.541,...,0,0,0,0,1,0,1,0,0,0
2,49,5,44,6,1,2,8256.0,864,7392.0,1.541,...,0,0,0,0,1,0,1,0,0,0
3,49,5,44,6,1,2,8256.0,864,7392.0,1.541,...,0,0,0,0,1,0,1,0,0,0
4,51,3,36,4,1,0,3418.0,0,3418.0,2.594,...,0,0,0,1,0,0,1,0,0,0

In [67]:
# Split train-test with Stratification

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y, random_state=18)

## Logistic Regression

In [68]:
# Train the Logistic Regression model 

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=18)

model.fit(X_train,y_train)

/Users/albertoaigner/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/albertoaigner/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=18)

In [69]:
# Calculate the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)

balanced_accuracy_score(y_test,y_pred)

0.6093181503495745

In [70]:
# Display the confusion matrix

from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,y_pred)

array([[ 168,  508],
       [ 106, 3441]])

In [71]:
# Print the imbalanced classification report

from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test,y_pred))

                         pre       rec       spe        f1       geo       iba       sup

Attrited Customer       0.61      0.25      0.97      0.35      0.49      0.22       676
Existing Customer       0.87      0.97      0.25      0.92      0.49      0.26      3547

      avg / total       0.83      0.85      0.36      0.83      0.49      0.25      4223